body {
    background-color: #ffa600;
    font-family: sans-serif;
}
img {
width: 900px;

}
h1 {
    color: red;
    text-align: center;
    font-size: 4em;
}
p {

    font-size: 2em;
}